
/* Propiedades genéricas para todos */
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #00982E;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --transition-speed-text: 1000ms;
}

/* Propiedades para Body */
body {
  color: black;
  background-color: white;
  background : url(https://image.freepik.com/vector-gratis/papel-pintado-realista-hojas-tropicales-oscuras_23-2148408629.jpg);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #00125A;
}

body::-webkit-scrollbar-thumb {
  background: #1B005A;
}

/* Propiedades para main */
main {
  /*margin-left: 5rem;  /* 1rem = 1 * :root.font-size = 16px */
  padding: 1rem;
  color: white;
}

.fa-primary {
  color: #005A1B;
}

.fa-secondary {
  color: #00982E;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}


/* Small screens */
@media only screen and (max-width: 600px) {
  main{
    margin-left: 5rem;  /* 1rem = 1 * :root.font-size = 16px */
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 6rem;  /* 1rem = 1 * :root.font-size = 16px */
  }
}
